/* css styles */
tr.header {
    padding: 20px 15px;
    text-align: left;
    font-weight: 500;
    font-size: 11px;
    color: #2c2e30;
    color: #fff;
    text-transform: uppercase;
}

.table>thead {
    border-top-color: #dee2e6;
    border-bottom: 1px solid #b6babc;
    background: linear-gradient(33deg, #a16bfe, #deb0df);
}


.cell-output.cell-output-stdout pre code {
    font-family: Geneva, Tahoma, Verdana, sans-serif;
    font-weight: 300 !important;
    color: #999;
}